<h1>Kirjaudu sisään</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label "Sähköpostiosoite" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :salasana %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Kirjaudu sisään" %>
  </div>
<% end %>

<p>Uusi käyttäjä? <%= link_to "Rekisteröidy!", signup_path %></p>


