<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @focusing_section.name %>
</p>

<p>
  <b>Industry:</b>
  <%= @focusing_section.industry_id %>
</p>


<%= link_to 'Edit', edit_focusing_section_path(@focusing_section) %> |
<%= link_to 'Back', focusing_sections_path %>
