<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Työnantaja" %><br />
    <%= f.text_field :employer %>
  </div>
  <div class="field">
    <%= f.label "Kotisivut" %><br />
    <%= f.text_field :homepage %>
  </div>
  <div class="field">
    <%= f.label "Yhteyshenkilö" %><br />
    <%= f.text_field :contact_person %>
  </div>
  <div class="field">
    <%= f.label "Sähköpostiosoite" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Puhelinnumero" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "Tehtävänimike" %><br />
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label "Toimiala" %><br />
   <%=  collection_select(:post, :industry_id, Industry.all, :id, :name , options ={:prompt => ""} ) %>
  </div>
  <div class="field">
    <%= f.label "Tarkennus" %><br />
     <%= collection_select(:post, :focusing_section_id, FocusingSection.find_all_by_industry_id(@post.industry_id), :id, :name, options ={:prompt => ""}) %>   
</div>
  <div class="field">
    <%= f.label "Kuvaus" %><br />
    <%= f.text_area :description  %>
  </div>
  <div class="field">
    <%= f.label "Lähiosoite" %><br />
    <%= f.text_field :street_address %>
  </div>
  <div class="field">
    <%= f.label "Postinumero" %><br />
    <%= f.text_field :post_number %>
  </div>
  <div class="field">
    <%= f.label "Toimipaikka" %><br />
    <%= f.text_field :office %>
  </div>
  <div class="field">
    <%= f.label "Maa" %><br />
   <%=  collection_select(:post, :country_id, Country.all, :id, :name , options ={:prompt => ""} ) %>
  </div>
  <div class="field">
    <%= f.label "Työn kesto" %><br />
  <%= f.radio_button :job_length, "yli 12kk" %> yli 12kk
<%= f.radio_button :job_length, "3- 12kk" %> 3-12kk
<%= f.radio_button :job_length, "alle 3 kk" %> alle 3 kk
<%= f.radio_button :job_length, "Kesätyö" %> Kesätyö
  </div>
  <div class="field">
    <%= f.label "Työn tyyppi" %><br />
   <%= f.radio_button :job_type, "Palkkatyö" %> Palkkatyö
<%= f.radio_button :job_type, "Proviisiopalkatut" %> Proviisiopalkatut
<%= f.radio_button :job_type, "Yrittäjä" %> Yrittäjä

  </div>
  <div class="field">
    <%= f.label "Työn alkamisajankohta" %><br />
    <%= f.date_select :job_starts %>
  </div>
  <div class="field">
    <%= f.label "Haku päätty" %><br />
    <%= f.date_select :post_ends %>
  </div>
  <div class="actions">
    <%= f.submit  value="Luo ilmotus"%>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function(){
        $("select#post_industry_id").change(function(){
            var id_value_string = $(this).val();
            if (id_value_string == "") { 
                // if the id is empty remove all the sub_selection options from being selectable and do not do any ajax
                $("select#post_focusing_section_id option").remove();
                var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                $(row).appendTo("select#post_focusing_section_id");
            }
            else {
                // Send the request and update sub category dropdown 
                $.ajax({
                    dataType: "json",
                    cache: false,
                    url: '/focusing_sections/for_industryid/' + id_value_string,
                    timeout: 2000,
                    error: function(XMLHttpRequest, errorTextStatus, error){
                        alert("Failed to submit : "+ errorTextStatus+" ;"+error);
                    },
                    success: function(data){                    
                        // Clear all options from sub category select 
                        $("select#post_focusing_section_id option").remove();
                        //put in a empty default line
                        var row = "<option value=\"" + "" + "\">" + "" + "</option>";
                        $(row).appendTo("select#post_focusing_section_id");                        
                        // Fill sub category select 
                        $.each(data, function(i, j){
                            row = "<option value=\"" + j.focusing_section.id + "\">" + j.focusing_section.name + "</option>";   
                            $(row).appendTo("select#post_focusing_section_id");                     
                        });             
                     }
                });
            };
                });
    });
</script>

