<h1>Selaa ilmoituksia</h1>




<table>
  <tr>
    <th>Työnantaja</th>
    <th>Tehtävänimike</th>
    <th>Toimipaikka</th>
    <th>Työn alkamisajankohta</th>
    <th>Haku päättyy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.employer %></td>
    <td><%= post.job_title %></td>
    <td><%= post.office %></td>
    <td><%= post.job_starts %></td>
    <td><%= post.post_ends %></td>



    <td><%= link_to 'Näytä', post %></td>

 <% if signed_in? %>

    <td><%= link_to 'Muokkaa', edit_post_path(post) %></td>
<% end %>
 <% if signed_in? %>

    <td><%= link_to 'Poista', post, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>

  </tr>
<% end %>
</table>

<br />
 <% if signed_in? %>

<%= link_to 'New Post', new_post_path %>

<% end %>

