<p id="notice"><%= notice %></p>

<p>
  <b>Työnantaja:</b>
  <%= @post.employer %>
</p>

<p>
  <b>Kotisivut:</b>
  <%= @post.homepage %>
</p>

<p>
  <b>Yhteyshenkilö:</b>
  <%= @post.contact_person %>
</p>

<p>
  <b>Sähköpostiosoite:</b>
  <%= @post.email %>
</p>

<p>
  <b>Puhelinnumero:</b>
  <%= @post.phone %>
</p>

<p>
  <b>Tehtävänimike:</b>
  <%= @post.job_title %>
</p>

<p>
  <b>Toimiala:</b>
  <%= @post.industry.name %>
</p>

<p>
  <b>Tarkennus:</b>
  <%= @post.focusing_section.name %>
</p>

<p>
  <b>Kuvaus:</b>
  <%= @post.description %>
</p>

<p>
  <b>Lähiosoite:</b>
  <%= @post.street_address %>
</p>

<p>
  <b>Postinumero:</b>
  <%= @post.post_number %>
</p>

<p>
  <b>Toimipaikka:</b>
  <%= @post.office %>
</p>

<p>
  <b>Maa:</b>
  <%= @post.country.name %>
</p>

<p>
  <b>Työnkesto:</b>
  <%= @post.job_length %>
</p>

<p>
  <b>Työn tyyppi:</b>
  <%= @post.job_type %>
</p>

<p>
  <b>Työn alkamisajankohta:</b> 
  <%= @post.job_starts %>
</p>

<p>
  <b>Haku päättyy:</b>
  <%= @post.post_ends %>
</p>

<% if signed_in? %>

<%= link_to 'Muokkaa', edit_post_path(@post) %> |

<% end %>


<%= link_to 'Takaisin', posts_path %>
