<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Etusivu", root_path %></li>
 <li><%= link_to "Työpaikkailmoitukset", posts_path %></li>
         <li><%= link_to "Tarkka haku", search_path %></li>

      <% if signed_in? %>
<li><%= link_to "Lisää ilmoitus", post_job_path %></li>

                       <li><%= link_to "Kirjaudu ulos", signout_path, :method => :delete %></li>
      <% else %>
      
      <li><%= link_to "Kirjaudu sisään", signin_path %></li>

      <% end %>
    </ul>


<% form_tag posts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Etsi", :name => nil %>
  </p>
<% end %>


  </nav>





</header>


